@{
  Layout = "_Layout";
}

@model HayleesThreads.Models.Category;
<div class="categoryDetails">
<h3><strong>@Html.DisplayFor(model => model.CategoryName)</strong> Details</h3>
<hr />
@if(@Model.JoinTables.Count == 0)
{
  <br />
  <h5><span>This Category does not contain any products :(</span><br /></h5>
}
else
{
  <h4>Products within @Html.DisplayFor(model => model.CategoryName):</h4>
    <br />
    @foreach(var join in Model.JoinTables)
    {
      <div class="container card">
        <hr />
        <h3><strong>@join.Product.ProductName</strong></h3>
        @using (Html.BeginForm("DeleteProduct", "Categories"))
        {
          @Html.Hidden("joinId", @join.CategoryProductId)
           @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
          {
            <br />
            <input type="submit" class="btn btn-outline-light" value="Remove" />
          }
          <hr />
        }
      </div>
      <br />
    }
}
@* Product Admin Controls *@
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
{
  <br />
  <hr />
  <br />
  <div class="container card">
    <br />
    <h1><strong>Admin Controls</strong></h1>
    <hr />
    <br />
    <p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
    <p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</p>
    <p>@Html.ActionLink("Assign a product to this category", "AddProduct", new { id = Model.CategoryId })</p>
    <br />
    <hr />
    <p>@Html.ActionLink("Back to Categories list", "Index")</p>
    <br />
  </div>
}


</div>