@{
  Layout = "_Layout";
}

@model HayleesThreads.Models.Category;
<div class="categoryDetails">
<h3><strong>@Html.DisplayFor(model => model.CategoryName)</strong></h3>
<hr />
@if(@Model.JoinTables.Count == 0)
{
  <br />
  <h5><span>This Category does not contain any products :(</span><br /></h5>
}
else
{
    <br />
    @foreach(var join in Model.JoinTables)
    {
      <div id="manProCard" class="container card">
        <span style="padding: 1.75%"id="productCard">
          <br />
          <h4><strong>'@join.Product.ProductName'</strong></h4>
          <hr />
          <img style="width: 80%;" id="productImage" type="image/jpg" src="@join.Product.ProductImage" />
          <br /><br />
          <br />
          <h5>@join.Product.ProductDescription</h5>
          <br />
          <h6><strong>$@join.Product.ProductPrice.ToString("#.##")</strong></h6>
          <hr />
          <span>@Html.ActionLink("View", "Details", "Products", new { id = @join.Product.ProductId }, new {style="text-decoration:none;"})</span>
          <br /><br />
        </span>
          @using (Html.BeginForm("DeleteProduct", "Categories"))
          {
            @Html.Hidden("joinId", @join.CategoryProductId)
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
            {
              <br />
              <input type="submit" class="btn btn-outline-light" value="Remove" />
            <br />
            }
          }
      </div>
      <br />
    }
}
@* Product Admin Controls *@
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
{
  <br />
  <hr />
  <br />
  <div class="container card">
    <br />
    <h1><strong>Admin Controls</strong></h1>
    <hr />
    <br />
    <p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
    <p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</p>
    <p>@Html.ActionLink("Assign a product to this category", "AddProduct", new { id = Model.CategoryId })</p>
    <br />
    <hr />
    <p>@Html.ActionLink("Back to Categories list", "Index")</p>
    <br />
  </div>
}


</div>