@{
  Layout = "_Layout";
}

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1>Active Roles:</h1>

@if (Model.Any())
{
  <hr />
  foreach(var role in Model)
  {
    <div class="container card">
      <div class="card-header">
        <p style="color:rgb(133, 115, 96)"><strong>Role Id:</strong><br /><span style="color:white">@role.Id</span></p>
      </div>
      <div class="card-body">
        <h3 class="card-title"><strong>@role.Name</strong></h3>
      </div>
      <div class="card-footer">
        @using (Html.BeginForm("DeleteRole", "Administration"))
        {
          @Html.ActionLink("Edit", "EditRole", "Administration", new { id = role.Id }, new { @class="btn btn-outline-light" })
          @Html.Hidden("id", @role.Id)
          <input type="submit" value="Delete" class="btn btn-outline-light" />
        }
        </div>
    </div>
    <hr />
  }
    @Html.ActionLink("Create Role", "CreateRole", "Administration", null, new { @class="btn btn-outline-light" })
}
else
{
  <div class="card">
    <div class="card-header">
      No roles have neen created
    </div>
    <div class="card-body">
      <p class="card-title ">
        Use button to create a role
      </p>
      @Html.ActionLink("Create Role", "CreateRole", "Administration", null, new { @class="btn btn-light" })
    </div>
  </div>
}