@{
    ViewData["Title"] = "Cart";
}
@{
  Layout = "_Layout";
}

@using HayleesThreads.ViewModels;
@model ShoppingCartViewModel

<div style="width:80%" class = "container card">
  <h1>My Cart</h1>
  <hr />

  <table style="color:white" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Quantity</th>
        <th>Product</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var item in Model.ShoppingCart.ShoppingCartProducts)
      {
        <tr>
          <td class="text-left"><a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-productId="@item.Product.ProductId" alt=""><strong>Decrease Quantity</strong></a></td>
          <td class="text-center">@item.Quantity</td>
          <td class="text-left">@item.Product.ProductName</td>
          <td class="text-right">@item.Product.ProductPrice.ToString("c")</td>
          <td class="text-right">
            @((item.Quantity * item.Product.ProductPrice).ToString("c"))
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      <td colspan="3" class="text-right">Total Price</td>
      <td class="text-right">@Model.ShoppingCartTotalPrice.ToString("c")</td>
    </tfoot>
  </table>
  <div class="text-center">
  <hr />
    <a class="btn btn-outline-light" asp-controller="ShoppingCart" asp-action="ClearShoppingCart">Clear Cart</a>
      <a class="btn btn-outline-light" asp-controller="Order" asp-action="Index">Checkout</a>
  </div>
</div>
<br /><br />

<h5><a class="btn btn-outline-light" asp-controller="Products" asp-action="Index">Continue Shopping</a></h5>
@* @{
  Layout = "_Layout";
}

@using HayleesThreads.Models;
@model List<HayleesThreads.Models.ShoppingCartProduct>;
<div class="categorySelection">
  <h2>Shopping Cart</h2>
  <hr />
  @if (Model.Count == 0)
  {
    <br />
    <h4><span>No products have been added to your cart :(</span></h4>
  }
  <p>@Html.ActionLink("Continue Shopping", "Product", "Index")</p>
  
  @foreach (ShoppingCartProduct shoppingCartProduct in Model)
  {
    <br />
    <div class="container card">
      <h4>@Html.ActionLink($"{shoppingCartProduct.Product}", "Details", new { id = shoppingCartProduct.ShoppingCartProductId })</h4>
    </div>
    <p>@Html.ActionLink("Continue Shopping", "Product", "Index")</p>
    <br />
  }
  <br />
  @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
  {
    <p>@Html.ActionLink("Continue Shopping", "Product", "Index")</p> //Comment out
  }
</div> *@