<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] HayleesThreads</title>
    <link rel="icon" type="image/jpg" href="~/img/heart.png"/>
    
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-center">
                <a class="navbar-brand" href="/"><i>HayleesThreads</i></a>
                @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@
                <div >
                    <ul class="navbar-nav">
                         
                         <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                         <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                         <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                         <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                         <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                         <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        
                        <input id="search_param" name="search_param" class="form-control" placeholder="Search">         
                        <span class="input-group-btn">
                            <button class="btn btn-outline-light" type="button"><span class="glyphicon glyphicon-search"></span>Search</button>
                        </span>
                         <li class="nav-item">
                                <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>

                     
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
                        {
                        <li class="nav-item">
                            <a  class="nav-link text-black" href="/administration/listroles">Administration</a>
                        </li>
                         <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link"></a></p>
                        </li>
                        }
      

                        
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                @using (Html.BeginForm("Index", "Account"))
                                {
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        
                                     
                                        @* <input type="submit" class="nav-item btn btn-link text-white" style="width:auto" value="Logout @User.Identity.Name">  *@
                                        <a type="submit" class="nav-link text-black" href="/account/index">Logout:Admin</a>
                                    }
                                    else
                                    {
                                        @* <input type="submit" class="nav-item btn btn-link text-white" style="width:auto" value="Logout @User.Identity.Name"> *@
                                        <a type="submit" class="nav-link text-black" href="/account/index">Logout:@User.Identity.Name</a>
                                    }
                                }
                                </li>
                            }
                            else
                            {
                            <li class="nav-item">
                                <a class="nav-link text-black" id="registerNav" href="/account/register">Register</a>
                            </li>
                             <li class="nav-item">
                                <p><a class="nav-link"></a></p>
                            </li>
                            <li class="nav-item">
                                <p><a class="nav-link"></a></p>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" id="loginNav" href="/account/login">Login</a>
                            </li>
                            }
                             <li class="nav-item">
                                <p><a class="nav-link"></a></p>
                            </li>
                            <li class="nav-item">
                                <p><a class="nav-link"></a></p>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href= "/ShoppingCart"> Cart</a></h4>
                            </li>

                            
                            @* <li>
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a style="text-decoration: none" data-toggle="dropdown" class="dropdown-toggle" href= "/Cart"><b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="nav-link" style="color:grey" href="#">EN</a></li>
                                            <li><a class="nav-link" style="color:grey" href="#">ID</a></li>
                                            <li><a class="nav-link" style="color:grey" href="#">FR</a></li>
                                         
                                            <hr />
                                            <li><a class="nav-link" style="color:grey" href="#">IT</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> *@
@*                          

                        <li>
               
                            <div class="dropdown">
                                <button class="dropbtn">Dropdown</button>
                                <div class="dropdown-content">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                </div>
                            </div>
                          
                        </li> *@
                    </ul>
                    
                </div>
            </div>
        </nav>
        <nav style="background-color: rgb(222, 190, 172);" class="navbar2 navbar-expand-sm border-bottom box-shadow mb-3">
            <div class="d-flex justify-content-center">
                    <ul class="navbar-nav ">
                        <li class="nav-item2">
                            <h5><a  class="nav-link" href="/Categories/Details/1">Hoodies</a></h5>
                        </li>
                       
                        <li class="nav-item2">
                            <h5><a  class="nav-link" href="/Categories/Details/2">Crews</a></h5>
                        </li>
                        <li class="nav-item2">
                            <h5><a  class="nav-link" href="/Categories/Details/3">T-Shirts</a></h5>
                        </li>
                        <li class="nav-item2">
                            <h5><a  class="nav-link" href="/Categories/Details/4">Sweats</a></h5>
                        </li>
                        <li class="nav-item2">
                            <h5><a  class="nav-link" href="/Categories/Details/5">Masks</a></h5>
                        </li>
                        <li class="nav-item2">
                            <h5><a  class="nav-link" href="/Categories/Details/6">Hats</a></h5>
                        </li>
                    </ul>
                    
            </div>
             @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
            {
                <a class="nav-link" href= "/Categories">Manage Categories</a>
            }
        
        </nav>
        @* <nav class= "navbar2 navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <span class="nav-cat">
                   <p><a  class="nav-link text-black" href="/Categories/Details/1">Hoodies</a> | <a  class="nav-link text-black" href="/Categories/Details/2">Crews</a></p> 
                </span>
        </nav> *@
        
    </header>
    <br />
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            <br />
            &copy; 2021 - HayleesThreads - <a class="nav-link" href= "/Privacy">Privacy Policy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>