@{
  Layout = "_Layout";
}

@model HayleesThreads.Models.Product

<div class="container card">
<h4 >Add product to <i>HayleesThreads</i></h4>
<hr />


  @using (Html.BeginForm())
  {
    <span id="createProduct"> @Html.Label("Product Name")</span>
    <br />
    @Html.TextBoxFor(model => model.ProductName)
    <br /><br />
    <span id="createProduct">@Html.Label("Product Price")</span>
    <br />
    @Html.TextBoxFor(model => model.ProductPrice)
    <br /><br />
    <span id="createProduct">@Html.Label("Product Description")</span>
    <br />
    @Html.TextBoxFor(model => model.ProductDescription)
    <br /><br />
    <span id="createProduct">@Html.Label("Featured? (true/false)")</span>
    <br />
    @Html.TextBoxFor(model => model.Featured)
    <br /><br />
    <span id="createProduct">@Html.Label("Is this apart of Seasonal: All Ears? (true/false)")</span>
    <br />
    @Html.TextBoxFor(model => model.AllEars)
    <br /><br />
    <span id="createProduct">@Html.Label("Product Image")</span>
    <br />
    @Html.TextBoxFor(model => model.ProductImage)
    <br />
    <br /><br />
    <input class="btn btn-outline-light" type="submit" type="button" value="Upload new Product!" />
  }

<br />
<hr />
<p>@Html.ActionLink("Show all products", "Index")</p>
</div>
