@{
  Layout = "_Layout";
}

@model HayleesThreads.Models.Product;
<br />
<div id="manProDetails" class = "container card">
  <h2><strong>'@Html.DisplayFor(model => model.ProductName)'</strong> Details</h2>
  <hr />
  <img style="padding: 3%;" id="productImage" type="image/jpg" src="@Model.ProductImage" />
  <br /><br />
  <h4>@Html.DisplayFor(model => model.ProductDescription)</h4>
  <br />
  <h6><strong>$@Html.DisplayFor(model => model.ProductPrice)</strong></h6>
  <hr />

  <a href="#"><i class="fa fa-cart">Add to cart</i></a>
  <br />
  @* @if(@Model.JoinTables.Count == 0)
  {
    <br />
    <h6><span>This product is not assigned to any categories :(</span><br /></h6>
  }
  else
  {
  
    <h4>@Html.DisplayFor(model => model.ProductName) is assigned to:</h4>
    
      @foreach(var join in Model.JoinTables)
      {
        <p><strong>@join.Category.CategoryName</strong></p>
        @using (Html.BeginForm("DeleteCategory", "Products"))
        {
          @Html.Hidden("joinId", @join.CategoryProductId) <br />
          <input type="submit" class="btn btn-outline-light" value="Remove" />
        }
        <br>
      }

  }
  <br />
  <hr /> *@
</div>
<br /><br />
<h5 >@Html.ActionLink("Back to Products list", "Index")</h5>
@* Product Admin Controls *@
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
{
  <br />
  <hr />
  <br />
  <div class="container card">
    <br />
    <h1><strong>Admin Controls</strong></h1>
    <hr />
    <br />
    <h5>@Html.ActionLink("Edit Product", "Edit", new { id = Model.ProductId })</h5>
    <h5>@Html.ActionLink("Delete Product", "Delete", new { id = Model.ProductId })</h5>
    <h5>@Html.ActionLink("Assign this product to a category", "AddCategory", new { id = Model.ProductId })</h5>
    <br />
    <hr />
    <h5>@Html.ActionLink("Back to Products list", "Index")</h5>
    <br />
  </div>
}