@{
  Layout = "_Layout";
}

@model HayleesThreads.Models.Product;
<br />
<div id="manProDetails" class= "container card">
  <span style="padding: 10px;" id="productCard">

  <div class="card-header">
    <h2><strong>'@Html.DisplayFor(model => model.ProductName)'</strong></h2>
  </div><br />

  <img alt="https://us.shein.com/" style="width: 80%;" id="productImage" type="image/jpg" src="@Model.ProductImage" />
  <br /><br />
  <h5>@Html.DisplayFor(model => model.ProductDescription)</h5>
  <br />
  <h6><strong>$@Html.DisplayFor(model => model.ProductPrice)</strong></h6>
  <br />
  <div style="padding: 24px;" class="card-footer">
    <div class="addToCart">
      <p class="button">
        <a class="btn btn-outline-light"
          asp-controller="ShoppingCart"
          asp-action="AddToShoppingCart"
          asp-route-productId="@Model.ProductId">Add to Cart</a> 
      </p>
    </div>
  </div>

  </span>
</div>
<br /><br />
<h5 >@Html.ActionLink("Back to Products", "Index")</h5>

@* Product Admin Controls *@
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
{
  <br />
  <hr />
  <br />
  <div style="width: 5in" class="container card">
    <span id="productCard">
      <br />
      <h1><strong>Admin Controls</strong></h1>
      <hr />
      <br />
      <h5>@Html.ActionLink("Edit Product", "Edit", new { id = Model.ProductId })</h5>
      <h5>@Html.ActionLink("Delete Product", "Delete", new { id = Model.ProductId })</h5>
      <h5>@Html.ActionLink("Assign this product to a category", "AddCategory", new { id = Model.ProductId })</h5>
      <br />
      <hr />
      <h5>@Html.ActionLink("Back to Products", "Index")</h5>
      <br />
    </span>
  </div>
}