@{
  Layout = "_Layout";
}

@model HayleesThreads.Models.Product;

<h2><strong>'@Html.DisplayFor(model => model.ProductName)'</strong> Details</h2>
<hr />

@if(@Model.JoinTables.Count == 0)
{
  <br />
  <h5><span>This product is not assigned to any categories :(</span><br /></h5>
}
else
{
 
  <h4>Categories within @Html.DisplayFor(model => model.ProductName):</h4>
    <br />
    @foreach(var join in Model.JoinTables)
    {
      <div class="container card">
      <hr />
      <h3><strong>@join.Category.CategoryName</strong></h3>
      @using (Html.BeginForm("DeleteCategory", "Products"))
      {
        @Html.Hidden("joinId", @join.CategoryProductId) <br />
        <input type="submit" class="btn btn-outline-light" value="Remove" />
      }
      <hr />
      </div>
      <br>
    }

}

@* Product Admin Controls *@
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
{
  <br />
  <hr />
  <br />
  <div class="container card">
    <br />
    <h1><strong>Admin Controls</strong></h1>
    <hr />
    <br />
    <h5>@Html.ActionLink("Edit Product", "Edit", new { id = Model.ProductId })</h5>
    <h5>@Html.ActionLink("Delete Product", "Delete", new { id = Model.ProductId })</h5>
    <h5>@Html.ActionLink("Assign this product to a category", "AddCategory", new { id = Model.ProductId })</h5>
    <br />
    <hr />
    <h5>@Html.ActionLink("Back to Products list", "Index")</h5>
    <br />
  </div>
}