@{
  Layout = "_Layout";
}

@model HayleesThreads.Models.Product
<div class="container card">
<h3>Edit Details: @Html.Label("'")<strong>@Html.DisplayFor(model => model.ProductName)</strong>@Html.Label("'")</h3>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ProductId)

  <h4>@Html.Label("Product Name")</h4>
  
  @Html.EditorFor(model => model.ProductName)
  <br /><br />
  <input type="submit" value="Save" class="btn btn-default" />
}
<br />
<p>@Html.ActionLink("Back to Products list", "Index")</p>
</div>