@{
  Layout = "_Layout";
}

@model HayleesThreads.Models.Product
<div class="container card">
<br />
<h2>Edit Details: @Html.Label("'")<strong>@Html.DisplayFor(model => model.ProductName)</strong>@Html.Label("'")</h2>
<hr />
<br />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ProductId)

  <h3>@Html.Label("Product Name")</h3>
  
  @Html.EditorFor(model => model.ProductName)
  <br /><br />
  <input type="submit" value="Save" class="btn btn-outline-light" />
}
<br />
<hr />
<br />
<h5>@Html.ActionLink("Back to Products list", "Index")</h5>
<br />
</div>