@{
  Layout = "_Layout";
}

@using HayleesThreads.Models
@model List<HayleesThreads.Models.Product>;

<h2 style="color: white"><i>HayleesThreads</i> Collection</h2>

<hr />
@if (Model.Count == 0)
{
  <h4><span>No products have been added to HayleesThreads :(</span></h4> 
}
<br />
<div class="grid">

  @foreach (Product product in Model)
  {
    <div style="padding: 7%" id="manProCard" class="container card">
      <span id="productCard">
        <div class="card-header">
          <h4 style="margin-top: 15px">@Html.Label("'" + product.ProductName + "'")</h4>
        </div>
          <br />
          <img style="width: 80%;" id="productImage" type="image/jpg" src="@product.ProductImage" />
          @* <h4 style="margin-top: 15px">@Html.Label("" + product.ProductPrice)</h4> *@
          @* <h6><strong>@Html.Label(product.ProductPrice.ToString("#.##"))</strong></h6> *@
          <br /><br />
          <div style="padding: 24px;" class="card-footer">
            <span>@Html.ActionLink("View", "Details", new { id = product.ProductId }, new {style="text-decoration:none;"})</span>
            <br />
          </div>
      </span>
    </div>
  }
</div>

@* 
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 5 even columns
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr; // 5 columns, middle is 3x larger
  gap: 20p;
}
 *@

@* Product Admin Controls *@
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
{
  <br />
  <hr />
  <br />
  <div style="width: 5in" class="container card">
    <span id="productCard">
      <br />
      <h1><strong>Admin Controls</strong></h1>
      <hr />
      <br />
      <p>@Html.ActionLink("Upload new product", "Create")</p>
      <p>@Html.ActionLink("Manage Categories", "Index", "Categories")</p>
      <br />
    </span>
  </div>
}