@{
  Layout = "_Layout";
}

@using HayleesThreads.ViewModels

@model LoginViewModel
<div class="container card">
<h3><strong>Log in</strong></h3>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)<br>
    @Html.TextBoxFor(m => m.Email)<br><br>

    @Html.LabelFor(m => m.Password)<br>
    @Html.PasswordFor(m => m.Password)<br><br>

    <input type="submit" value="Log in" class="btn btn-default" />
}
<br /><br />
<p>Don't have an account?</p>
<p>@Html.ActionLink("Register", "Register")</p>
<hr />
<p>@Html.ActionLink("Continue as Guest", "Index", "Home")</p>
</div>