@{
  Layout = "_Layout";
}

@using HayleesThreads.ViewModels

@model LoginViewModel
<div style="padding: 2.75%" class="container card">
  <br />
  <h3><strong>Log in</strong></h3>
  <hr /><br />
  <span style="height: 320px;" id="productCard">
    @using (Html.BeginForm())
    {
      <br />
        <span style="color: white">@Html.LabelFor(m => m.Email)</span><br>
        @Html.TextBoxFor(m => m.Email)<br />
        <span asp-validation-for="Email" class="danger"></span>
        <br /><br />

        <span style="color:white">@Html.LabelFor(m => m.Password)</span><br>
        @Html.PasswordFor(m => m.Password)
        <br>
        <span asp-validation-for="Password" class="danger"></span>
        <br><br>

        <input type="submit" value="Log in" class="btn btn-outline-light" />
    }
  </span>
  <br />
  <p style="color:grey">Don't have an account?</p>
  <h5>@Html.ActionLink("Register", "Register")</h5>
  <hr />
  <h5>@Html.ActionLink("Continue as Guest", "Index", "Home")</ph5
</div>