@{
  Layout = "_Layout";
}

@using HayleesThreads.ViewModels

@model RegisterViewModel
<div class="container card">
<br />
<h3><strong>Register</strong></h3>

<hr />

  @using (Html.BeginForm("Register", "Account", FormMethod.Post))
  {
      <span style="color: white">@Html.LabelFor(user => user.Email)</span><br>
      @Html.TextBoxFor(user=> user.Email)<br>
      <span asp-validation-for="Email" class="danger"></span>
      <br><br>

      <span style="color: white">@Html.LabelFor(user=> user.Password)</span><br>
      @Html.PasswordFor(user=> user.Password)<br>
      <span asp-validation-for="Password" class="danger"></span>
      <br><br>

      <span style="color: white">@Html.LabelFor(user=> user.ConfirmPassword)</span><br>
      @Html.PasswordFor(user=> user.ConfirmPassword)<br>
      <span asp-validation-for="ConfirmPassword" class="danger"></span>
      <br><br>

      <input type="submit" class="btn btn-outline-light" value="Register" />
  }
<br /><br />
<p style="color:grey">Already have an account?</p>
<h5>@Html.ActionLink("Log in", "Login")</h5>
<hr />
<h5>@Html.ActionLink("Continue as Guest", "Index", "Home")</h5>
</div>